<div class="row">
    <div class="col col s12 m6 offset-m3 l6 offset-l3">
        <div class="card medium">
            <div class="card-image">
                <h1 class="card-title truncate"><i class="material-icons red lighten-1 circle nut-picture">shopping_basket</i>{{nut.name}}</h1>
            </div>
            <div class="card-content">
                <div class="chip right">{{nut.category}}</div>
                <p>{{nut.notes}}</p>                
            </div>
            <div class="card-action center">
                <span class="left"><i (click)="decrementQuantity()" class="material-icons small red lighten-1 circle small-button">remove</i></span>
                <input class="quantity-field" type="text" [(ngModel)]="quantity" maxlength="3" /> <span>{{nut.quantity.unit}}</span>
                <span class="right"><i (click)="incrementQuantity()" class="material-icons small red lighten-1 circle small-button">add</i></span>
            </div>
        </div>
    </div>
</div>
