.card-action {
}

.card-image {
	height: 100px;
	background-color: #ee6e73;
}


.small-button {
	color: #FFFFFF;
    margin: 5px;
    font-size: 2rem;
    cursor: pointer;
}

.quantity-field {
	width: 40px;
}

.nut-picture {
	padding: 10px;
    margin-right: 10px;
}