<h1 class="center">{{ 'page.add.title' | i18n }}</h1>
<nav>
    <form style="margin-top: 10px; margin-bottom: 10px">
        <div class="input-field">
                <input id="search" #search type="search" [ngModel]="filter" (keyup)="searchValueChanged(search.value)" placeholder="{{ 'label.add.placeholder' | i18n }}">
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </form>
</nav>
<ul class="collection">
    <a [routerLink]="['Create', {label:filter}]" class="collection-item avatar" *ngIf="displayAddRow()">
    <span class="nut-item">
        <i class="material-icons red lighten-1 circle">add</i>
        <span class="title truncate">{{filter}}</span>
        </span>        
    </a>
    <a [routerLink]="['Edit', {id:nut.id}]" *ngFor="let nut of nuts" class="collection-item avatar" >
    <span class="nut-item">
        <i class="material-icons red lighten-1 circle">shopping_basket</i>
        <span class="title truncate">{{nut.name}}</span>
        <p>{{nut.quantity.amount}} {{ i18n.getUnitLabel(nut.quantity.unit) }}</p>
        <p class="notes truncate">{{nut.notes}}</p></span>
        
        <div class="secondary-content">
            <span class="chip">{{nut.category}}</span>
        </div>
    </a>
</ul>