<ul id="accountMenu" class="dropdown-content">
  <li><a class="red-text text-lighten-1" href="javascript:void(0)" (click)="authService.disconnect()">Disconnect</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a [routerLink]="['Home']" class="brand-logo">Squirel Stach</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li [class.active]="isActive('List')"><a [routerLink]="['List']">List</a></li>
            <li [class.active]="isActive('Details')"><a [routerLink]="['Details']">Details</a></li>
            <li class="valign-wrapper">
                <a class="valign dropdown-button" href="javascript:void()" data-activates="accountMenu">
                <img *ngIf="authService.user.photoURL" src="{{authService.user.photoURL}}" class="circle responsive-img avatar" alt="{{authService.user.displayName}}" title="{{authService.user.displayName}}" />
                <i *ngIf="!authService.user.photoURL" class="large material-icons"title="{{authService.user.displayName}}">perm_identity</i>
                </a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-menu">
            <li *ngIf="authService.user"><img src="{{authService.user.photoURL}}" class="circle responsive-img avatar" width="46px" height="46px" alt="{{authService.user.displayName}}" title="{{authService.user.displayName}}" /> {{authService.user.displayName}}
            </li>
            <li [class.active]="isActive('List')"><a [routerLink]="['List']">List</a></li>
            <li [class.active]="isActive('Details')"><a [routerLink]="['Details']">Details</a></li>
        </ul>
    </div>
</nav>