<div class="row">
    <form materialize class="col s12">
      <div class="row">
        <div class="input-field col s12 m6 l6 ">
          <input id="name" [(ngModel)]="nut.name" placeholder="" type="text" required class="validate" ngControl="name"/>
          <label for="name" class="active">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l6">
            <select materialize="material_select" [materializeSelectOptions]="categories" required [(ngModel)]="nut.category">
              <option value="" disabled>Choose the category</option>
              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
            <label>Category</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4 m2">
          <input id="name" [(ngModel)]="nut.quantity.amount" placeholder="" type="text" required class="validate"/>
          <label for="name" class="active">Amount</label>
        </div>
        <div class="input-field col s8 m4">
            <select materialize="material_select" [materializeSelectOptions]="units" required [(ngModel)]="nut.quantity.unit">
              <option value="" disabled>Choose the unit</option>
              <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
            </select>
            <label>Unit</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 ">
          <input id="notes" [(ngModel)]="nut.notes" type="text" placeholder="Type the notes here..." class="validate"/>
          <label for="notes" class="active">Notes</label>
        </div>
      </div>
    </form>
  </div>