<h1 class="center">Search my nuts</h1>
<nav>
    <form style="margin-top: 10px; margin-bottom: 10px">
        <div class="input-field">
                <input id="search" #search type="search" [ngModel]="filter.searchValue" (keyup)="searchValueChanged(search.value)" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
        </div>
    </form>
</nav>
<div class="search-category-field">Current category:
    <div *ngIf="!hasCategory()" class="chip search-category">All
    </div>
    <div *ngIf="hasCategory()" class="chip search-category">{{filter.category}}<i class="material-icons circle" (click)="removeCategory()">close</i>
    </div>
</div>
<ul class="collection">
    <a *ngFor="let nut of nuts" class="collection-item avatar"  [class.active]="nut == selectedNut">
    <div (click)="onSelect(nut)">
        <i class="material-icons red circle">shopping_basket</i>
        <span class="title truncate">{{nut.name}}</span>
        <p>{{nut.quantity.amount}} {{nut.quantity.unit}}</p>
        <p class="notes truncate">{{nut.notes}}</p></div>
        
        <div class="secondary-content">
            <a class="chip" href="javascript:void(0)" (click)="setCategory(nut.category)">{{nut.category}}</a>
        </div>
    </a>
</ul>
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a [routerLink]="['Details']" class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
</div>
